## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("output_data_file.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,3,Cape Town,ZA,61.00,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
1,4,Atar,MR,61.23,scattered clouds,20.5169,-13.0499,Oumou Elghoura
2,5,Hermanus,ZA,62.01,scattered clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
3,11,Zarand,IR,64.69,few clouds,30.8127,56.5640,فروشگاه لوازم یدکی پراید و تیبا برادران رجبی
4,12,Mataura,NZ,64.99,clear sky,-46.1927,168.8643,Ellie's Villa

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
locations

         Lat       Lng
0   -33.9258   18.4232
1    20.5169  -13.0499
2   -34.4187   19.2345
3    30.8127   56.5640
4   -46.1927  168.8643
..       ...       ...
113  36.6167  101.7667
114 -13.7333   15.0667
115  38.4167   77.2406
116 -41.1500  146.1667
117  31.5333  119.4833

[118 rows x 2 columns]

In [4]:
# 4a. Add a marker layer for each city to the map.
#max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
          
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)

fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
#referred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      # (city_data_df["Max Temp"] >= min_temp)]
vacation_start = vacation_df.loc[(vacation_df["City"]=="Watertown")]
print(vacation_start)
vacation_end = vacation_df.loc[(vacation_df["City"]=="Watertown")]
print(vacation_end)
vacation_stop1 = vacation_df.loc[(vacation_df["City"]=="Bethel")]
print(vacation_stop1)
vacation_stop2 = vacation_df.loc[(vacation_df["City"]=="Mayo")] 
print(vacation_stop2)
vacation_stop3 = vacation_df.loc[(vacation_df["City"]=="Bon Air")] 
print(vacation_stop3)

    City_ID       City Country  Max Temp Description      Lat      Lng  \
16       68  Watertown      US      50.0   clear sky  42.3709 -71.1828

                                           Hotel Name
16  Super 8 by Wyndham Watertown/Cambridge/Boston ...
    City_ID       City Country  Max Temp Description      Lat      Lng  \
16       68  Watertown      US      50.0   clear sky  42.3709 -71.1828

                                           Hotel Name
16  Super 8 by Wyndham Watertown/Cambridge/Boston ...
    City_ID    City Country  Max Temp Description      Lat     Lng  \
18       88  Bethel      US      53.6  few clouds  41.3712 -73.414

                       Hotel Name
18  Courtyard by Marriott Danbury
    City_ID  City Country  Max Temp Description      Lat      Lng  \
43      238  Mayo      US      59.0   clear sky  38.8876 -76.5119

                              Hotel Name
43  Resorts Resource Group International
    City_ID     City Country  Max Temp Description      Lat      Lng  \
95      544  Bon Air      US      57.0   clear sky  37.5249 -77.5578

                                          Hotel Name
95  DoubleTree by Hilton Hotel Richmond - Midlothian

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

#start = vacation_start.iloc[0,5:7].to_numpy()
    
start =  vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".


fig = gmaps.figure(center=(39.0, -120.0),zoom_level=6)
Watertown = start
Bethel = stop1
Mayo = stop2 
Bon_Air = stop3
roundtrip = gmaps.directions_layer(Watertown ,Watertown, waypoints=[Bethel,Mayo,Bon_Air], travel_mode="DRIVING")  

print(roundtrip)

Directions(data_bounds=[(37.5249, -77.5578), (42.3709, -71.1828)], end=(42.3709, -71.1828), start=(42.3709, -71.1828), stroke_color='#0088ff', waypoints=[(41.3712, -73.414), (38.8876, -76.5119), (37.5249, -77.5578)])

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,68,Watertown,US,50.0,clear sky,42.3709,-71.1828,Super 8 by Wyndham Watertown/Cambridge/Boston ...
1,88,Bethel,US,53.6,few clouds,41.3712,-73.4140,Courtyard by Marriott Danbury
2,238,Mayo,US,59.0,clear sky,38.8876,-76.5119,Resorts Resource Group International
3,544,Bon Air,US,57.0,clear sky,37.5249,-77.5578,DoubleTree by Hilton Hotel Richmond - Midlothian

In [10]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
#info_box_template = """

#"""
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name} </dd>
<dt>City</dt><dd>{City} </dd>
<dt>Country</dt><dd>{Country} </dd>
<dt>Description</dt><dd>{Description} </dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]
print(hotel_info)

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat","Lng"]]
print(locations)

['\n<dl>\n<dt>Hotel Name</dt><dd>Super 8 by Wyndham Watertown/Cambridge/Boston Area </dd>\n<dt>City</dt><dd>Watertown </dd>\n<dt>Country</dt><dd>US </dd>\n<dt>Description</dt><dd>clear sky </dd>\n<dt>Max Temp</dt><dd>50.0 °F</dd>\n</dl>\n', '\n<dl>\n<dt>Hotel Name</dt><dd>Courtyard by Marriott Danbury </dd>\n<dt>City</dt><dd>Bethel </dd>\n<dt>Country</dt><dd>US </dd>\n<dt>Description</dt><dd>few clouds </dd>\n<dt>Max Temp</dt><dd>53.6 °F</dd>\n</dl>\n', '\n<dl>\n<dt>Hotel Name</dt><dd>Resorts Resource Group International </dd>\n<dt>City</dt><dd>Mayo </dd>\n<dt>Country</dt><dd>US </dd>\n<dt>Description</dt><dd>clear sky </dd>\n<dt>Max Temp</dt><dd>59.0 °F</dd>\n</dl>\n', '\n<dl>\n<dt>Hotel Name</dt><dd>DoubleTree by Hilton Hotel Richmond - Midlothian </dd>\n<dt>City</dt><dd>Bon Air </dd>\n<dt>Country</dt><dd>US </dd>\n<dt>Description</dt><dd>clear sky </dd>\n<dt>Max Temp</dt><dd>57.0 °F</dd>\n</dl>\n']
       Lat      Lng
0  42.3709 -71.1828
1  41.3712 -73.4140
2  38.8876 -76.5119
3  37.5249 -77.5578

In [9]:
fig = gmaps.figure(center=(39.0, -120.0),zoom_level=6)
roundtrip = gmaps.directions_layer(Watertown ,Watertown, waypoints=[Bethel,Mayo,Bon_Air], travel_mode="DRIVING",show_markers=False)  
fig.add_layer(roundtrip)

#fig = gmaps.figure(center=(39.0, -120.0),zoom_level=6)
#marker_layer1 = gmaps.marker_layer(locations, info_box_content=hotel_info)

#fig.add_layer(roundtrip)
#fig.add_layer(marker_layer1)
# 11a. Add a marker layer for each city to the map.
#marker_layer2 = gmaps.marker_layer(locations, info_box_content = hotel_info)
#fig.add_layer(roundtrip)

#fig.add_layer(marker_layer2)
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name} </dd>
<dt>City</dt><dd>{City} </dd>
<dt>Country</dt><dd>{Country} </dd>
<dt>Description</dt><dd>{Description} </dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]
#print(hotel_info)

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat","Lng"]]
marker_layer2 = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer2)

#print(locations)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
fig.